{{template "base" .}} {{define "content"}}
<div class="container">
  <div class="row">
    <div class="col">
      <img
        class="img-fluid img-thumbnail mx-auto d-block room-image"
        src="/static/images/marjors-suite.png"
        alt="room image"
      />
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h1 class="text-center mt-4">Major's Suite</h1>
      <p>
        Your are away from from home, set on the magestic waters of the Atlantic
        Ochean, this will be a vacation to remember. Your are away from from
        home, set on the magestic waters of the Atlantic Ochean, this will be a
        vacation to remember. Your are away from from home, set on the magestic
        waters of the Atlantic Ochean, this will be a vacation to remember. Your
        are away from from home, set on the magestic waters of the Atlantic
        Ochean, this will be a vacation to remember. Your are away from from
        home, set on the magestic waters of the Atlantic Ochean, this will be a
        vacation to remember
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col text-center">
      <a href="make-reservation-ms" class="btn btn-success"
        >Check Availabilty</a
      >
    </div>
  </div>
</div>
{{end}}
